.classpath
.project
.settings/
twitter-to-kafka-service/target/
app-config-data/target/
twitter4j.properties
twitter-to-kafka-service/logs/twitter-to-kafka-service.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
